.main-header {
  display: flex;
  height: 520px;
  width: 100%;
  background-color: orange;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  padding-top:120px;
}

.user-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
}

